.getyourcrayon-menubar {
  width:240px !important;
  position: absolute !important;
  top: 20px ;
  right:20px ;
  z-index:3129484650 !important;
}

.gyc-popup {
  /*border: solid black 1px;*/
  position:absolute;
  display:block;
  background-color: rgba(224,224,224,1);
  border-radius: 4px !important;
  z-index:3129484650 !important;
}

.gyc-popup .ui-dialog-titlebar {
  background-color: rgba(63,141,143, 1) !important;
  border-top-left-radius: 4px !important;
  border-top-right-radius: 4px !important;
  height: 20px;
  padding: 4px;
}

.gyc-popup .ui-dialog-titlebar .ui-dialog-title {
  font-family: helvetica, sans-serif;
  font-weight: bold;
  color: rgba(255,255,255,0.7);
  font-size: 16px;
}

.gyc-popup .ui-dialog-titlebar .ui-dialog-titlebar-close {
  float:right;
  margin:0;
  padding:0;
  border:0;
}

.gyc-popup .ui-dialog-buttonpane .ui-dialog-buttonset{
  width: 140px;
  margin: auto;
  margin-bottom:6px;
}

.gyc-popup .gyc-save-confirm-button, .gyc-save-cancel-button {
  background-color: gray;
  color:rgba(255,255,255,0.7);
  border:none;
  border-radius: 2px;
}

.gyc-popup #gyc-save-confirm {
  padding-top: 8px;
  padding-left: 18px;
}


#gyc-pop-x {
  background-color: rgba(63,141,143, 1) !important;
  font-size: 16px;
  color: rgba(255,255,255,0.7);

}

#gyc-drawingTags {
  border-radius: 4px !important;
  border: none !important;
  width: 212px;
  margin-top: 4px;
  height: 20px;
}

#gyc-twitter-bttn{
  display: block;
}

#gyc-twitter-bttn iframe {
 display:block;
 width: 76px;
 margin:auto;
}

.gyc-popup p {
  padding-left: 8px;
}

#unique_url{
  margin-left:8px;
}


#gyc-confirmation-popup {
  background-color: rgba(63,141,143, 0.8);
  position:absolute ;
  text-align: center ;
  display: none ;
  top:0 ;
  left:48% ;
  height:20px;
  width:120px ;
  padding:10px;
  border-bottom-left-radius: 4px !important;
  border-bottom-right-radius: 4px !important;
  z-index:3129484650 ;
}

#gyc-canvas {
  border:solid 4px rgba(244,57,99, 0.7);


  position: absolute ;
  top:0px ;
  left:0px ;
  z-index:3129484650;
}

#gyc-next-button, #gyc-previous-button {
  color: rgba(255,255,255,.7);
  font-size: 14px;
}

#gyc-tag-holder {
  display: none;
}

#gyc-previous-button {
  display:inline-block;
}

#gyc-timeline {
  margin-top:20px;
  width: 170px;
  margin-left: 10px;
  margin-right: 10px;
}

#gyc-timeline-container {
  width: 220px;
  margin: auto;
}

#gyc-width, #gyc-opacity {
  width: 200px !important;
  margin-left: 20px !important;
  margin-right: 20px !important;
}

.gyc-toolbar-value {
  margin-left: 20px;
}

#gyc-paint-button, #gyc-draw-button, #gyc-undo-button, #gyc-clean-slate-button, #gyc-save-button {
  display:inline-block;
  height:40px;
  font-size:25px;
  font-style:normal !important;
  width:48px;
  line-height: 40px;
  text-align:center;
  color: rgba(63,141,143,0.9);
  z-index:3129484650;
  background-color:rgba(224,224,224,0.95);
}

#gyc-paint-button:hover, #gyc-draw-button:hover, #gyc-undo-button:hover, #gyc-clean-slate-button:hover, #gyc-save-button:hover {
  color: rgba(53,171,149,0.6);
  transition: color 0.7s linear;
}


#gyc-toolbar-header {
  height: 40px !important;
  /*background-color: #aaa !important;*/
  border-top-left-radius: 4px !important;
  border-top-right-radius: 4px !important;
  background-color: rgba(63,141,143, 0.95) !important;
}

#gyc-toolbar-toggle {
  margin-top: 0 !important;
  height: 15px !important;
  background-color:rgba(224,224,224,0.95);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-top: 1px solid #ccc;
}

.ui-state-active {
  border-bottom-left-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}

#gyc-toolbar-tools {
  background-color:rgba(224,224,224,0.95) !important;
  border-bottom-left-radius: 4px !important;
  border-bottom-right-radius: 4px !important;
  padding-bottom: 10px;
}

#gyc-toggle-toolbar-arrow {
  line-height: 15px !important;
  text-align: center !important;
  margin-left: 115px;
  margin-right: 115px;
  color: rgba(63,141,143,0.9);
}

#gyc-toggle-toolbar-arrow:hover {
  color: rgba(53,171,149,0.6);
  transition: color 0.7s linear;
}

.ui-state-focus{
  outline: none;
}

#gyc-colorpicker {
  margin-left:22px;
}

#gyc-color {
  width: 100px !important;
  margin-left: 70px !important;
  border-radius: 4px !important;
  text-align: center !important;
  border: none !important;
}

