.getyourcrayon-menubar {
  width:240px !important;
  position: absolute !important;
  top: 20px ;
  right:20px ;
  z-index:3129484650 !important;
}

.gyc-save-popup {
  border: solid black 1px;
  position:absolute;
  display:block;
  background-color: red;
  z-index:1000000000 !important;
}


#gyc-confirmation-popup {
  background-color: orange ;
  position:absolute ;
  text-align: center ;
  display: none ;
  top:0 ;
  left:48% ;
  height:60px;
  width:120px ;
  z-index:1000000000 ;
}

#gyc-canvas {
  /*border:dashed black 1px ;*/
  position: absolute ;
  top:0px ;
  left:0px ;
  z-index:1000 ;
}

#gyc-paint-button, #gyc-undo-button, #gyc-clean-slate-button, #gyc-save-button {
  display:inline-block;
  height:40px;
  font-size:30px;
  width:60px;
  line-height: 40px;
  text-align:center;
  color: rgba(63,141,143,0.9);
  z-index:1000;
  background-color:rgba(224,224,224,0.7);
}

#gyc-paint-button:hover, #gyc-undo-button:hover, #gyc-clean-slate-button:hover, #gyc-save-button:hover {
  color: rgba(53,171,149,0.6);
  transition: color 0.7s linear;
}

/*.gyc-btn {
  display: inline-block !important;
  margin-bottom: 0 !important;
  font-size: 14px !important;
  font-weight: normal !important;
  line-height: 1.428571429 !important;
  text-align: center !important;
  white-space: nowrap !important;
  vertical-align: middle !important;
  cursor: pointer !important;
  background-color: rgba(255,255,255,0.7) !important;
  width: 60px !important;
  height: 40px !important;
  border: none;
  border-right: 2px solid black;
}*/

#gyc-toolbar-header {
  height: 40px !important;
  /*background-color: #aaa !important;*/
  border-top-left-radius: 4px !important;
  border-top-right-radius: 4px !important;
  background-color: rgba(63,141,143, 0.8) !important;
}

#gyc-toolbar-toggle {
  margin-top: 0 !important;
  height: 10px !important;
  border-top-left-radius: 0px !important;
  border-top-right-radius: 0px !important;
  background-color:rgba(224,224,224,0.7)
}

#gyc-toolbar-tools {
  background-color:rgba(224,224,224,0.7) !important;
}

#gyc-toggle-toolbar-arrow {
  line-height: 10px !important;
  margin: 0 !important;
  margin-right: 16px !important;
  padding: 0 !important;
  text-align: center !important;
}

